<!-- Slaidere -->
<div id="demo" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
<!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active ContSlider">
        <div class="ContSl">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <button class="btnone">ACTION</button>
        </div>
    </div>
    <div class="carousel-item ContSlidert">
      <div class="ContSl">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <button class="btnone">ACTION</button>
    </div>
    </div>
    <div class="carousel-item ContSliderw">
      <div class="ContSl">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <button class="btnone">ACTION</button>
    </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<!-- Noticias -->
<div class="contnot">
  <div class="Contnothijo">
    <p class="noticias">Noticias</p>
    <div class="line"></div>
  </div>
  <div class="contcarrotxt">
    <div class="contimg">
      <img src="./../../assets/jpg/1.jpg" alt="caro" width="100%">
    </div>
    <div class="conttextonot">
      <p class="titlenot">Lorem ipsum dolor sit amet, consectetuer</p>
      <p class="sublenot">Lorem ipsum dolo dolor oreet do</p>
      <p class="texlenot">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet</p>
    </div>
  </div>
<!-- NOTICIA QUE APARECE EN VERSION MOBILE YA QUE POR LA ORGANIZACION SE VE MAL  -->
  <div class="contcarrotxtapa">
    <div class="contimg">
      <img src="./../../assets/jpg/2.jpg" alt="caro" width="100%">
    </div>
    <div class="conttextonot">
      <p class="titlenot">Lorem ipsum dolor sit amet, consectetuer</p>
      <p class="sublenot">Lorem ipsum dolo dolor oreet do</p>
      <p class="texlenot">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet</p>
    </div>
  </div>
  <div class="contcarrotxtdesp">
    <div class="conttextonot">
      <p class="titlenot">Lorem ipsum dolor sit amet, consectetuer</p>
      <p class="sublenot">Lorem ipsum dolo dolor oreet do</p>
      <p class="texlenot">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet</p>
    </div>
    <div class="contimg">
      <img src="./../../assets/jpg/2.jpg" alt="caro" width="100%">
    </div>
  </div>
  <div class="contcarrotxt">
    <div class="contimg">
      <img src="./../../assets/jpg/3.jpg" alt="caro" width="100%">
    </div>
    <div class="conttextonot">
      <p class="titlenot">Lorem ipsum dolor sit amet, consectetuer</p>
      <p class="sublenot">Lorem ipsum dolo dolor oreet do</p>
      <p class="texlenot">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet</p>
    </div>
  </div>
</div>


<!-- FAQs segmento -->
  <div id="noticias">
    <div class="contfaqpadre">
      <div class="Contnothijo">
        <p class="noticias">FAQs</p>
        <div class="line"></div>
      </div>
      <p class="texlenot">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluvvvm nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. erat voluvvvm nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
<!-- COLLAPSE segmento -->
    <div>
      <p class="contflecha">
        <a class="btncollapse" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Item One
        <img src="./../../assets/jpg/flecha_abajo.svg" alt="">
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="contcarta">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqui        </div>
      </div>
    </div>

    <div>
      <p class="contflecha">
        <a class="btncollapse" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
          Item One
        <img src="./../../assets/jpg/flecha_abajo.svg" alt="">
        </a>
      </p>
      <div class="collapse" id="collapseExample2">
        <div class="contcarta">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqui        </div>
      </div>
    </div>

    <div>
      <p class="contflecha">
        <a class="btncollapse" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
          Item One
        <img src="./../../assets/jpg/flecha_abajo.svg" alt="">
        </a>
      </p>
      <div class="collapse" id="collapseExample3">
        <div class="contcarta">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqui        </div>
      </div>
    </div>

    <div>
      <p class="contflecha">
        <a class="btncollapse" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
          Item One
        <img src="./../../assets/jpg/flecha_abajo.svg" alt="">
        </a>
      </p>
      <div class="collapse" id="collapseExample4">
        <div class="contcarta">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqui        </div>
      </div>
    </div>
  </div>


<!-- Formulario segmento -->
<div class="conbg">
  <div class="conpadree"> 
    <div class="contbarra"></div>
    <div class="contformone">
      <div class="contform">
        <form action="ejemplo.php" method="get" class="formes">
          <div class="contgrpone">
            <div class="contbarraim" style="margin-right: 20px;">
              <p class="nameimp">Name</p>
              <input type="text" name="nombre" class="impgen">
            </div>
            <div class="contbarraim">
              <p class="nameimp">Last Name</p>
              <input type="text" name="nombre" class="impgen">
            </div>
          </div>
          <div class="contgrpone">
            <div class="contbarraim" style="margin-right: 20px;">
              <p class="nameimp">Tipo de Documento</p>
              <input type="text" name="nombre" class="impgen">
            </div>
            <div class="contbarraim">
              <p class="nameimp">Numero de Documento</p>
              <input type="text" name="nombre" class="impgen">
            </div>
          </div>
          <div class="contgrpone">
            <div class="contbarraim" style="margin-right: 20px;">
              <p class="nameimp">E-mail</p>
              <input type="text" name="nombre" class="impgen">
            </div>
            <div class="contbarraim">
              <p class="nameimp">E-mail</p>
              <input type="text" name="nombre" class="impgen">
            </div>
          </div>
        </form>
        <textarea name="texto" rows="3" cols="30" class="impgen" style="margin-top: 30px;"></textarea>
        <button class="btnone">ENVIAR</button>
      </div>
    </div>
  </div>
</div>
